node_modules/
.git/
.idea/
.vscode/

**/.venv/
**/__pycache__/
**/*.pyc

**/dist
**/.env

**/project.json

**/tests/
coverage/
reports/
htmlcov/
**/.pytest_cache
**/ruff_cache
**/.coverage
libs/db-core/db_core/migrations
