node_modules/
.git/
.idea/
.vscode/

**/.venv/
**/__pycache__/
**/*.pyc

apps/rendering_service/dist/
apps/user_service/dist/

**/.env

**/project.json

**/tests/
coverage/
reports/
htmlcov/
.pytest_cache/