@import "tailwindcss";

.dark-gradient {
  background: linear-gradient(180deg, #020617 0%, #0f172a 70%, #1e293b 100%);
}

.dark .dark\:bg-dark-gradient {
  background: linear-gradient(180deg, #020617 0%, #0f172a 70%, #1e293b 100%);
}

.bg-grid-pattern-light {
  background-image: linear-gradient(rgba(0,0,0,0.15) 1px, transparent 1px), linear-gradient(90deg, rgba(0,0,0,0.15) 1px, transparent 1px);
  background-size: 2rem 2rem;
}

.bg-grid-pattern-dark {
  background-image: linear-gradient(rgba(255,255,255,0.07) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,0.07) 1px, transparent 1px);
  background-size: 2rem 2rem;
}